# .gitignore

# Ignore .DS_Store files
.DS_Store
# Ignore Mac system files
.AppleDouble
.LSOverride

#deploy to dev
/deploy/

# Composer dependencies
/vendor/

# Environment files
.env

# Composer auth files
auth.json

#remove zip file
nvm-timologio.zip
node_modules

# PHPUnit and test artifacts
/coverage/
.phpunit.result.cache
phpunit.xml.dist
